h1 {
    font-size: 22px;
    margin: 10px 10px 10px 10px;
}

.header {
    border-bottom: 8px solid #808080;
}

.tableHeader {
    display: none;
}

.itemAttributes {
    color: #ccc;
}

.itemImageWrapper {
    width: 50%;
    height: 190px;
    float: left;
}

.itemImage {
    width: 150px;
    /* height: 200px; */
}

.quantity {
    border: 1px solid #808080;
    margin-left: 5px;
    padding: 5px 13px 5px;
}

.itemVariation,
.itemName {
    font-size: 17px;
    margin-top: 5px;
}

.item {
    margin-top: 50px;
    border-bottom: 1px solid #808080;
    height: 270px;
    display: flex;
    margin: 0 5% 0;
    flex-wrap: wrap;
}

.itemDetails {
    width: 50%;
    float: right;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.style {
    margin-top: 10px;
}

.colour,
.size {
    margin-top: 5px;
}

.qty {
    margin-top: 30px;
}

.pricePara {
    margin-top: 20px;
}

.price {
    font-weight: bold;
    font-size: 22px;
}

.totalItems {
    float: right;
    margin-left: 20px;
    font-size: 17px;
}

.btnContainer {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    color: #ccc;
}

.btns {
    background: transparent;
    border: none;
    color: #ccc;
}

.editBtn {
    margin-left: 10%;
}

.saveBtn {
    margin-right: 10%;
}

.promotionBtn {
    background: transparent;
    border: 2px solid #808080;
    height: 36px;
    width: 30%;
}

.promotionField {
    height: 30px;
    width: 60%;
}

.promotionalLabel {
    font-size: 15px;
    width: 50%;
}

.checkout {
    width: 79%;
    margin: 20px 10% 0;
    display: flex;
}

.subtotal {
    display: flex;
    justify-content: space-between;
    margin: 25px 0 25px;
}

.shipping {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 20px;
}

.appliedCode {
    border-bottom: 2px solid #808080;
    display: flex;
    margin: 30px 0 50px;
    justify-content: space-between;
}

.estTotal {
    display: flex;
    justify-content: space-between;
}

.checkoutBtn {
    border: none;
    background-color: #0073e6;
    color: #fff;
    height: 50px;
    width: 80%;
    margin: 40px 40px;
}

.footer {
    margin: 10px 10% 0;
}

.lock {
    margin: 10px 40% 10px;
}

a {
    color: #808080;
}
.help{
    display: none;
}

/* modal */

.modal {
    position: absolute;
    top: 40%;
    left: 10%;
    width: 80%;
    height: 300px;
    background-color: #fff;
    z-index: 1;
}

.modalDetails {
    width: 50%;
    float: left;
}

.cross-icon-container {
    width: 5%;
    float: right;
}

.cross-icon {
    height: 25px;
    width: 25px;
}

.edit-modal-btn,
.addModal {
    border: none;
    height: 40px;
    width: 60%;
    background-color: #0073e6;
    color: #fff;
}

.modal-container {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modalImgContainer {
    width: 45%;
    float: right;
}

.editModal {
    margin: 20px 0 20px;
}

.sizedrp {
    width: 40%;
    height: 50px;
}

.qtyDrp {
    width: 40%;
    height: 50px;
}

.modal-color-options {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}

.radio-buttons {
    -webkit-appearance: none;
    width: 30%;
    height: 25px;
    margin: 0px 0px 5px 2%;
    /* background-color: red; */
}

input[type=radio]:checked {
    border: 2px solid black;
}

.size-desk-container,
.qty-desk-container,
.price-desk-container {
    width: 10%;
    float: right;
    display: none;
}

.deskSize,
.deskQty,
.deskPrice {
    display: flex;
    float: right;
    width: 10%;
}

.toggle {
    display: block;
}
.checkout-container{
    width: 100%;
}
@media only screen and (min-width: 1080px) {
    .size-desk-container,
    .qty-desk-container,
    .price-desk-container {
        display: block;
    }
    h1 {
        font-size: 40px;
        margin: 20px 0 50px 5%;
    }
    .header {
        border-bottom: none;
    }
    .deskItemNo {
        width: 70%;
    }
    .tableHeader {
        border-top: 1px solid #808080;
        border-bottom: 8px solid #808080;
        padding: 10px 0 10px;
        display: block;
        display: flex;
        flex-direction: row;
        margin: 0 5% 0;
        /* justify-content: space-between; */
    }
    .itemImageWrapper {
        width: 30%;
    }
    .itemDetails {
        width: 40%;
    }
    .totalItems {
        display: none;
    }
    .toggle {
        display: none;
    }
    .item {
        display: flex;
    }
    .help{
        display: block;
        width: 25%;
    }
    .checkout-container{
        width: 70%;
    }
    .checkoutBtn{
        width: 20%;
        margin-left: 75%;
    }

}